

body {
  background: url(../images/boston1.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-position: right top;
}


h1 {
  text-align: center;
  color: rgb(255, 251, 218);
  background-color: #49474d ; 
}

h2 {
  text-align: center;
  color: rgb(255, 251, 218);
  background-color: #49474d; 
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #49474d; 
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(216, 214, 203);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0ef0f8;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.row {
  margin-left: 150px;
}

.wrapper {
  margin-top: 10px;
  background-color: rgb(216, 214, 203);
  height: 520px;
  width: 800px;
  /* left: 350px; */
  /* left: 40%; */
  /* right: 40%; */
  /* position: absolute; */
  /* z-index: 0; */
  } 

.ml15 {
  font-weight: 800;
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

.gallery {
  margin: 10px, 50px;
}

.gallery img {
  width: 230px;
  padding: 5px;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale( 1.1);
}
.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

p {
  font: #ffffff;
}

#lisa {
  margin: 30px;
  
}

#about {
  float: left;
  text-align: center;
}
#bio {
  padding: 10px;
  float: left;
}

.form-group {
  width: 90%;
}

#appfont {
  color: rgb(216, 214, 203);
  background-color: black;
}
