

body {
  background: url(../images/smith2.jpg);
background-repeat: no-repeat;
background-size: 100%;
background-position: right top;
}


h1 {
  text-align: center;
  color: #ffffff;
  background-color: #68cefd ; 
}

h2 {
  text-align: center;
  color: #ffffff;
  background-color: rgb(106, 189, 245); 
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgb(255, 251, 218);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #111111;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0ef0f8;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.row {
  margin-left: 150px;
}

.wrapper {
  margin-top: 15px;
  background-color: rgb(255, 251, 218);
  height: 520px;
  width: 800px;
  /* left: 350px; */
  /* left: 40%; */
  /* right: 40%; */
  /* position: absolute; */
  /* z-index: 0; */
  } 

.ml15 {
  font-weight: 800;
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}

.gallery {
  margin: 10px, 50px;
}

.gallery img {
  width: 230px;
  padding: 5px;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale( 1.1);
}
.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

p {
  font: #ffffff;
}
